// animations styles

// Links

@keyframes pulse-link {
    0% {
        color: white;
    }
    25% {
        color: #4cc1fc;
    }
    75% {
        color: white;
    }
    100% {
        color: #4cc1fc;
    }
}