// Footer styles
.main-footer {
    transition: all 0.250s;
    text-align: center;
    font-size: 15px;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(120px);
    background-color: black;
    min-height: auto;
    z-index: 10;
    .main-footer__container {
        position: relative;
        padding-left: 160px;
        width: 400px;
        margin: 0 auto;
        .btn-appstore {
            position: absolute;
            top: 14px;
            left: 0;
            width: 166px;
            display: block;
            @media (max-width: $breakpoint-phablet) {
                width: 100%;
                display: none;
            }
        }
        @media (max-width: $breakpoint-phablet) {
            width: 100%;
            padding-left: 0px;
        }
    }
    &.-show-footer {
        transform: translateX(-50%) translateY(0px);
    }
    a {
        color: white;
        padding: 0 14px;
        text-decoration: none;
        &:hover {
           animation: pulse-link 0.8s; 
           color: #4cc1fc
        }
    }
    .main-footer__legal {
        color: #5c6369;
        margin-top: 22px;
    }
}
