// layout styles

.section-wrapper {
    padding: 50px;
    background-color: black;
    position: relative;
    z-index: 9;
    @media (max-width: $breakpoint-phablet) {
        padding: 50px 0px;
    }
}

.section-dusk {
    position: relative;
    width: auto;
    max-width: 1200px;
    padding: 0 100px 140px;
    margin: 0 auto;
    z-index: 10;
    min-height: 600px;
    @media (max-width: $breakpoint-phablet) {
        padding: 0 30px 140px;
    }
}
.section-heading {
    text-align: center;
    margin-bottom:100px;
}