/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes pulse-link {
  0% {
    color: white;
  }
  25% {
    color: #4cc1fc;
  }
  75% {
    color: white;
  }
  100% {
    color: #4cc1fc;
  }
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.btn-default {
  transition: all 0.125s;
  padding: 15px 40px;
  background-color: #212a2e;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border-radius: 20px;
}
.btn-default:hover {
  background-color: #4cc1fc;
  color: #5c6369;
}
.btn-default.-no-hover:hover {
  background-color: #212a2e;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Roboto,sans-serif;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.main-hero {
  width: 100%;
  height: 700px;
}

.main-logo {
  position: relative;
}

.main-logo__img {
  display: block;
  margin: 0 auto;
}

.main-logo__tagline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 62px;
  font-size: 19px;
}

.main-hero__cta {
  padding-top: 70px;
}

.main-hero__cta-tagline {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
}

.home-faq__question {
  margin-bottom: 40px;
}
.home-faq__question .-question {
  margin-bottom: 10px;
  color: white;
  line-height: 1.4;
}
.home-faq__question .-answer {
  color: #5c6369;
  line-height: 1.4;
}

.section-dusk {
  width: auto;
  max-width: 1200px;
  padding: 0 100px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  margin-bottom: 100px;
}

.main-footer {
  text-align: center;
  font-size: 15px;
  padding: 50px 0;
}
.main-footer a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}
.main-footer a:hover {
  animation: pulse-link 0.8s;
  color: #4cc1fc;
}
.main-footer .main-footer__legal {
  color: #5c6369;
  margin-top: 30px;
}
