/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes pulse-link {
  0% {
    color: white;
  }
  25% {
    color: #4cc1fc;
  }
  75% {
    color: white;
  }
  100% {
    color: #4cc1fc;
  }
}

@keyframes pulse-link {
  0% {
    color: white;
  }
  25% {
    color: #4cc1fc;
  }
  75% {
    color: white;
  }
  100% {
    color: #4cc1fc;
  }
}
@-webkit-keyframes shootingStar {
  0% {
    -webkit-transform: translate(-2000px, 1000px);
    transform: translate(-2000px, 1000px);
  }
  100% {
    -webkit-transform: translate(3000px, -1000px);
    transform: translate(3000px, -1000px);
  }
}
@keyframes shootingStar {
  0% {
    -webkit-transform: translate(-2000px, 1000px);
    transform: translate(-2000px, 1000px);
  }
  100% {
    -webkit-transform: translate(3000px, -1000px);
    transform: translate(3000px, -1000px);
  }
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.btn-default {
  transition: all 0.125s;
  padding: 15px 40px;
  background-color: #212a2e;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border-radius: 20px;
}
.btn-default:hover {
  background-color: #4cc1fc;
  color: #5c6369;
}
.btn-default.-no-hover:hover {
  background-color: #212a2e;
  color: white;
}
@media (max-width: 640px) {
  .btn-default {
    font-size: 16px;
  }
}

body {
  color: white;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  background: black url(../images/backgrounds/bg-body.jpg) 50% 0;
  overflow-x: hidden;
}
@media (max-width: 640px) {
  body {
    font-size: 18px;
  }
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.comet1 {
  position: absolute;
  top: 50px;
  width: 132px;
  height: 70px;
  background-image: url(http://dcc0mwn9npc2l.cloudfront.net/assets/img/comet2.png);
  background-repeat: no-repeat;
  -webkit-animation: shootingStar linear 6s infinite;
  animation: shootingStar linear 6s infinite;
  z-index: 3;
}

.comet2 {
  position: absolute;
  top: 360px;
  width: 230px;
  height: 100px;
  background-image: url(http://dcc0mwn9npc2l.cloudfront.net/assets/img/comet1.png);
  background-repeat: no-repeat;
  -webkit-animation: shootingStar linear 7s infinite;
  animation: shootingStar linear 7s infinite;
  z-index: 3;
}

.comet3 {
  position: absolute;
  top: 170px;
  width: 230px;
  height: 100px;
  background-image: url(http://dcc0mwn9npc2l.cloudfront.net/assets/img/comet1.png);
  background-repeat: no-repeat;
  -webkit-animation: shootingStar linear 8s infinite;
  animation: shootingStar linear 8s infinite;
  z-index: 3;
}

.main-hero {
  position: relative;
  width: 100%;
  height: 700px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 500px;
}

.main-logo {
  position: relative;
  z-index: 10;
}

.main-logo__img {
  display: block;
  margin: 0 auto;
  z-index: 10;
  width: 90%;
  max-width: 451px;
}
@media (max-width: 778px) {
  .main-logo__img {
    width: 325px;
    margin-top: 35px;
  }
}
.main-logo__img.-appstore {
  width: auto;
  max-width: auto;
  margin-top: 0;
}
@media (max-width: 778px) {
  .main-logo__img.-appstore {
    width: 212px;
    margin-top: 52px;
  }
}

.main-logo__tagline {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 62px;
  font-size: 19px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
@media (max-width: 778px) {
  .main-logo__tagline {
    bottom: 30px;
    font-size: 17px;
  }
}

.main-hero__cta {
  position: relative;
  padding-top: 52px;
  z-index: 10;
}

.main-hero__cta-tagline {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  z-index: 10;
}

.main-hero__scene {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  max-width: 1920px;
}

.main-hero__sky-trees {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200%;
  z-index: 5;
  background: url(../images/backgrounds/bg-trees.png) 50% 0;
}
@media (max-width: 778px) {
  .main-hero__sky-trees {
    background-position: 50% -140px;
  }
}

.main-hero__sky-water {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: url(../images/backgrounds/bg-mountains-water.png) 50% 0 no-repeat;
}

.main-hero__sky-stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 404px;
  z-index: 2;
  background: url(../images/backgrounds/bg-sky.png) 50% 0 no-repeat;
}

.home-faq__question {
  margin-bottom: 40px;
}
.home-faq__question .-question {
  margin-bottom: 10px;
  color: white;
  line-height: 1.4;
}
.home-faq__question .-answer {
  color: #5c6369;
  line-height: 1.4;
}

.section-feedback__intro {
  line-height: 1.4;
  margin-bottom: 100px;
}

.section-feedback__ctas {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.section-feedback__ctas img {
  display: block;
  margin: 40px auto;
}
@media (max-width: 778px) {
  .section-feedback__ctas img {
    margin: 20px auto;
  }
}

.section-feedback__cta-slack {
  transition: all 0.40s;
  opacity: 1;
}
.section-feedback__cta-slack.-show {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
@media (max-width: 778px) {
  .section-feedback__cta-slack {
    width: 80%;
  }
}

.section-feedback__cta-twitter {
  transition: all 0.40s;
  opacity: 1;
}
.section-feedback__cta-twitter.-show {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
@media (max-width: 778px) {
  .section-feedback__cta-twitter {
    width: 80%;
  }
}

.section-wrapper {
  padding: 50px;
  background-color: black;
  position: relative;
  z-index: 9;
}
@media (max-width: 640px) {
  .section-wrapper {
    padding: 50px 0px;
  }
}

.section-dusk {
  position: relative;
  width: auto;
  max-width: 1200px;
  padding: 0 100px 140px;
  margin: 0 auto;
  z-index: 10;
  min-height: 600px;
}
@media (max-width: 640px) {
  .section-dusk {
    padding: 0 30px 140px;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 100px;
}

.main-footer {
  position: absolute;
  transition: -webkit-transform 0.450s;
  transition: transform 0.450s;
  text-align: center;
  font-size: 15px;
  padding: 30px 0;
  width: 100%;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(0px);
  -ms-transform: translateX(-50%) translateY(0px);
  transform: translateX(-50%) translateY(0px);
  background-color: black;
  min-height: auto;
  z-index: 10;
}
.main-footer .main-footer__container {
  position: relative;
  padding-left: 160px;
  width: 400px;
  margin: 0 auto;
}
.main-footer .main-footer__container .btn-appstore {
  position: absolute;
  top: 14px;
  left: 0;
  width: 166px;
  display: block;
}
@media (max-width: 640px) {
  .main-footer .main-footer__container .btn-appstore {
    width: 100%;
    display: none;
  }
}
@media (max-width: 640px) {
  .main-footer .main-footer__container {
    width: 100%;
    padding-left: 0px;
  }
}
.main-footer.-hide-footer {
  -webkit-transform: translateX(-50%) translateY(120px);
  -ms-transform: translateX(-50%) translateY(120px);
  transform: translateX(-50%) translateY(120px);
}
.main-footer a {
  color: white;
  padding: 0 14px;
  text-decoration: none;
}
.main-footer a:hover {
  -webkit-animation: pulse-link 0.8s;
  animation: pulse-link 0.8s;
  color: #4cc1fc;
}
.main-footer .main-footer__legal {
  color: #5c6369;
  margin-top: 22px;
}
